:root {
    --nav-color: #F6770E;
    --page-bg: #0a0a0b;
    --main-text: #f3f0f0;
}
body {
  background-color: var(--page-bg);
}
p {
    font-family: "Lora", sans-serif;
}


nav h5 {
    color: var(--nav-color);
}

.hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/group1.jpg);
    background-position: center;
}
.hero-text {
    text-align: center;
    
    color: var(--main-text);
    text-transform: uppercase;
}
.container-fluid {
    color: var(--main-text);
}
footer {
    color: var(--nav-color);
    min-height: 60px;
    border: solid 1px var(--nav-color);
}
.list-inline-item i {
    color: var(--nav-color);
   
}