@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Merriweather:wght@900&display=swap');
/*-----------------------------Page colours*/
:root {
    --nav-color: #f6770e;
    --page-bg: #0a0a0b;
    --main-text: #f3f0f0;
}
body {
  background-color: var(--page-bg);
}
/*-----------------------------Nav bar*/
nav h5 {
    color: var(--nav-color);
}
/*-----------------------------Landing area*/
.hero-image {
    height: 552px;
    max-width: 1400px;
    width: 100%;
    background: url(../../images/group1.jpg);
    background-position: center;
    position: relative;
}
.hero-text {
    text-align: center;
    font-family: "Merriweather", serif;
    
    color: var(--main-text);
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container-fluid {
    color: var(--main-text);
    border-radius: 25px;
}
.intro {
  font-family: "Lora", serif;
}
/*-----------------------------Footer*/
footer {
    color: var(--nav-color);
    min-height: 60px;
    border: solid 1px var(--nav-color);
}
.f-text {
   font-family: "Lora", serif;

}
.address {
  font-weight: 100;
}
.list-inline-item i {
    color: var(--nav-color);
   
}
.border-light-subtle {
    border-radius: 25px;
}
/*-----------------------------Timetable*/
section h3 {
    color: var(--main-text);
    padding-top: 20px;
}
.blue {
  background: #3498db;
}

.purple {
  background: #9b59b6;
}

.navy {
  background: #34495e;
}

.green {
  background: #2ecc71;
}

.red {
  background: #e74c3c;
}

.orange {
  background: #f39c12;
}
.pink {
    background: #f34dcf;
  }

.cs335 {
  font-weight: 300;
  cursor: pointer;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  font-family: 'Open Sans', Helvetica;
  color: #efefef;
}
table tr:nth-child(2n) {
  background: #eff0f1;
}
table tr:nth-child(2n+3) {
  background: #fff;
}
table th, table td {
  padding: 1em;
  width: 10em;
  position: fixed;
}

.days, .time {
  background: #3a3735;
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: center;
  position: fixed;
}

.time {
  width: 3em !important;
  position: fixed;
}

/*----------------------------Blog articles*/
.menuitem a {
  text-decoration: none;
  color: var(--main-text);
  font-family: "Lora", serif;
  
}
.menuitem p {
  font-family: "Lora", serif;
}
/*@media screen and (max-width: 480px){
  #timetable {
    width: 30%;
    height: 800px;
    margin: 0 auto;
  }
  
}*/

.buttonitem a i {
  padding-top: 5px;
  display: inline;
  font-size: 26px;
}